#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  box-sizing: border-box;
}

.container {
  display: inline-block;
  margin: auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.small-container {
  margin: auto;
  max-width: 600px;
}

nav {
  background-color: #81df81;
}
@media (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: left;
  }
}


nav ul li {
  text-align: left;
  padding: 5px 15px;
}

nav ul li a {
  color: #000;
}

ul {
  padding: 0;
  list-style: none;
}

.shopping-list li {
  display: block;
  margin-bottom: 15px;
  border: 1px solid #000;
}

.shopping-list-item {
  display: grid;
  padding: 5px;
  grid-template-columns: 5fr 1fr;
  gap: 15px;
  text-align: left;
}

.shopping-list-item.checked {
  background-color: #81df81;
}

form {
  font-size: 16px;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
  border: none;
  text-align: left;
  align-items: center;
}

form button {
  background-color: #47d54c;
}

input {
  width: 100%;
  padding: 15px;
  font-size: inherit;
}

label {
  font-weight: bold;
}

.shadow-box {
  padding: 15px;
  border-radius: 6px;
  background-color: #FFF;
  box-shadow: 2px 2px 11px 2px rgb(123 121 121 / 75%);
}

.suggestions {
  position: relative;
  width: 100%;
}

.suggestions ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  border: 1px solid #000;
  border-radius: 6px;
}

.suggestions ul li {
  padding: 5px;
}

.suggestions ul li:hover {
  cursor: pointer;
  background-color: #81df81;
}

.error-message {
  margin: 15px auto;
  padding: 15px;
  border: 1px solid red;
  border-radius: 6px;
  color: red;
}